.contact__main {
    margin-inline: auto;
    position: relative;
}

.contact__title-message {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 10px;
    width: 90%;
    min-width: 280px;
    max-width: 400px;
}

.contact__title-message h1,
.contact__title-message p {
    text-align: center;
}

.form {
    margin-top: 30px;
    margin-inline: auto;
    width: 90%;
    min-width: 280px;
    max-width: 400px;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 20px;
}

.form p {
    text-align: center;
    color: var(--midnight-green);
}

.form textarea,
.form input {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    min-height: 48px;
    padding: 10px;
}

.form textarea:focus,
.form input:focus {
    outline: 2px solid var(--princeton-orange);
    border: none;
}

#submit-button {
    margin-top: 25px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-inline: auto;
    font-size: 20px;
    -webkit-tap-highlight-color: transparent;
}

#submit-button:active {
    background-color: var(--princeton-orange);
    color: var(--white);
}