.footer {
    display: flex;
    background-color: #000;
    color: #fff;
    font-size: clamp(12px, 2vw, 18px);
    margin-top: 10px;
    padding: 5px;
}

.social,
.rights {
    place-content: center;
    width: 50%;
    display: flex;
    justify-items: center;
    display: block;
}

.social__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.social__list a {
    display: flex;
    align-items: center;
    min-width: 95px;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.2s ease;
}

.social__list a:active {
    transform: scale(0.80);
}

.social__list a img {
    width: 30px;
    margin-right: 5px;
}