.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80px;
    gap: 5px;
    position: relative;
}

.header__logo_container {
    place-content: center;
    width: 60%;
    border: 2px solid #000;
}

.header__logo {
    display: block;
    width: 100px;
    height: auto;
    margin-inline: auto;
}

.header__menu {
    /* box-shadow: 0 5px 5px -5px #fff; This will be applied with JS when menu opens */
    width: 100%;
    font-family: var(--links);
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.header__menu::after {
    margin-left: 5px;
    content: '≡';
    font-size: 15px;
    margin-top: auto;
    display: block;
    font-weight: normal;
}

.menu__container {
    list-style: none;
    width: 100%;
}

.menu__container li {
    padding: 5px 0;
    box-shadow: inset 0 0 5px 1px #ff9100;
}

.menu__container:has(a:active) {
    background-color: #ff9100;
}

.header__menu:active {
    color: #fff;
    background-color: transparent;
    transform: scale(0.95);
}

.header__nav {
    display: none;
    background-image: radial-gradient(circle, #fff 0%, #ededed 30%, #e7e7e7 48%, #ff9100 50%, #e7e7e7 52%, #d7d7d7 70%, #b9b9b9 80%, #cccccc 90%, #fff 95%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.no-scroll {
    /* This prevents the scroll of the main window when modal is opened */
    touch-action: none;
    overflow: hidden;
    /* height: 100%; */
}

.modal__close {
    border: none;
    color: #ff9100;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% - 40px);
    left: calc(100% - 40px);
    width: 30px;
    height: 30px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-tap-highlight-color: transparent;
}

.modal__close:active {
    background-image: url(../images/close-active.svg);
}

.open-popup {
    display: flex;
}

.header__nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.list {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #ff9100;
    border-bottom: 1px solid #ff9100;
}

.list a {
    font-family: var(--links);
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.list:has(a:active) {
    background-color: #ff9100;
}

.list a:active {
    background-color: transparent;
    color: #fff;
    transform: scale(0.95);
}

@media screen and (min-width: 800px) {

    .header__logo {
        width: 200px;
    }

    .header__menu {
        font-size: 24px;
    }

    .header__menu:hover {
        background-color: #ff9100;
        color: #fff;
    }

    .modal__close:hover {
        background-color: #00000082;
    }

    .list:hover {
        background-color: #000;
    }

    .list a:hover {
        color: #fff;
    }

    .list a {
        width: 100%;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .list {
        padding: 0;
    }

}