@media screen and (min-width: 768px) {

    select,
    input[type='text'],
    textarea,
    input[type="submit"],
    input[type="date"] {
        min-height: 40px;
    }

    main {
        width: 100%;
        margin: 0;
    }
}