* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 2fr 1fr;
}

/* .header, .main, .aside, .footer, .nav {
    box-shadow: black 3px 3px 6px 1px inset;
} */

.header {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    background-color: #3e3e3e;
    color: #fff;
}

.header > .nav {
    margin-top: auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #000;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

.main {
    grid-column: 1/2;
    font-size: 20px;
    background-color: #939393;
    padding: 10px;
}

.aside {
    grid-column: 2/3;
    font-size: 20px;
    padding: 10px;
}

.footer {
    padding: 10px;
    grid-column: 1/3;
    font-size: 20px;
    text-align: center;
    background-color: #3e3e3e;
    color: #fff;
}