@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Yanone Kaffeesatz", serif;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.8fr 3fr 0.5fr;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}


.header {
    position: relative;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
}

.header__title {
    color: #fff;
    margin: auto 0 auto;
    text-align: center;
}

.header__title-span {
    color: #fffb00;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #000;
}

.nav a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 10px;
}

.nav a:hover {
    color: #fffb00;
}

.main {
    max-width: 90%;
    grid-column: 1/2;
    background-color: #939393;
    padding: 10px;
    display: grid;
    justify-self: center;
}

.card p {
    font-size: 16px;
}

.card__img1 {
    float: right;
    margin-left: 10px;
    width: 150px;
    height: auto;
}

.card__title {
    text-align: center;
    margin: 10px auto;
    width: 80%;
    border-bottom: 2px solid #808080;
    font-size: 30px;
}

.card__img2 {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.aside {
    grid-column: 2/3;
    font-size: 18px;
    padding: 10px;
    display: grid;
    grid-template-rows: 100px 3fr;
    width: 90%;
    justify-self: center;
    box-shadow: inset 2px 2px 5px #000;
}

.aside__title {
    text-align: center;
    font-size: 30px;
}

.links {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links li {
    list-style-type: none;
}

.links a {
    color: #000;
}

.links a:hover {
    color: #039494;
}

.links:visited, .links:focus {
    color: #5f0394;
}

.footer {
    padding: 10px;
    grid-column: 1/3;
    font-size: 20px;
    text-align: center;
    background-color: #3e3e3e;
    color: #fff;
}
