@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,700&family=Poppins&display=swap');

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.gstatic.com/s/montserrat.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.gstatic.com/s/poppins/v15/poppins-regular.woff2') format('woff2');
    font-display: swap;
}

:root {
    --background-color: rgba(0, 0, 0, 0.7);
    --secondary-color: ;
    --accent1-color: ;
    --accent2-color: ;

    --heading-font: "Montserrat";
    --paragraph-font: "Poppins", Arial, sans-serif;

    --nav-background-color: hsl(0, 0%, 0%, 0.3);
    --nav-link-color: #fff;
    --header-title: #000;
    --cards-background-color: rgba(255, 255, 255, 0.333);
    --nav-hover-link-color: #cbce32;
    --nav-hover-background-color: rgba(0, 0, 0, 0.374);
    --header-dark-background-color: rgba(170, 79, 79, .5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

body {
    background: radial-gradient(circle,
            rgba(151, 102, 102, 0.5) 10%,
            rgba(168, 151, 94, 0.5) 30%,
            rgba(255, 255, 255, 0.5) 80%,
            rgba(170, 79, 79, .5) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: var(--paragraph-font);
}

.header {
    text-align: center;
    position: relative;
    color: var(--header-title);
    background-color: var(--header-dark-background-color);
}

.header__menu {
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 30px;
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
    border-radius: 5px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.header__menu::before {
    content: "≡";
    cursor: pointer;
    display: inline-block;
    height: 30px;
    display: flex;
    align-items: center;
}

.header__menu:hover {
    background-color: var(--nav-hover-background-color);
}

.header__nav {
    transform: scale(0);
    transition: transform 0.3s ease;
    position: absolute;
    top: 100%;
    right: 0;
    width: 30%;
    background-color: var(--background-color);
    border-radius: 2px;
}

.js-show-header-nav {
    transform: scale(1);
}

.header__menu.show::before {
    content: "❌";
    display: inline-block;
    font-size: 20px;
}

.header__list {
    list-style-type: none;
}

.header__links {
    text-decoration: none;
    color: var(--nav-link-color);
    display: block;
    padding: 10px;
    font-family: var(--heading-font);
}

.header__list li a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.div__main {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin-inline: auto;
    gap: 10px 20px;
    width: 90%;
}

.main__title {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    margin: 10px 0 15px;
}

.card__title {
    text-shadow: 2px 2px 10px #000;
}

.section {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 20px 5px var(--header-dark-background-color);
}

.label {
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: var(--background-color);
    color: var(--nav-link-color);
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    min-height: 65px;
}

.footer p:last-child {
    color: var(--nav-hover-link-color);
    font-weight: 600;
}