@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,700&family=Poppins&display=swap');

@media screen and (min-width: 425px) {

    .header {
        margin: 0;
    }

    .header__menu.js-hide-content::before {
        content: none;
    }

    .header__nav {
        position: static;
        width: 100%;
    }

    .header__list {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-inline: auto;
    }

    .header__list li {
        flex: 1 1 100%;
    }

    .header__links {
        font-size: 20px;
    }

    .header__links:hover {
        text-decoration: underline;
    }

    .div__main {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        margin-inline: auto;
        gap: 35px 20px;
        width: 95%;
    }

    .footer {
        padding: 10px 0;
        font-size: 16px;
    }
}

@media screen and (min-width: 550px) {
    .div__main {
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (min-width: 850px) {

    html {
        height: 100%;
    }

    body {
        min-height: 100%;
        display: grid;
        grid: 5rem 1fr 5rem / auto;
    }

    .div__main {
        grid-template-columns: repeat(3, auto);
    }
}