@media screen and (min-width: 500px) {

    body {
        grid-template-rows: 50px 1fr 60px;
    }

    .hero__container {
        position: relative;
    }

    .hero__image {
        width: 100%;
        height: 100%;
    }

    .data__section {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .weather__section {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .weather__icon {
        width: 45px;
        display: none;
    }

    .weather__title::after {
        content: url(/images/sand-storm-icon.svg);
        font-size: 20px;
        width: 40px;
        display: block;
        margin-inline: auto;
    }

    .data__section,
    .weather__section {
        background-color: var(--light-background-color);
        border-radius: 10px;
    }
}