@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,700&family=Poppins&display=swap');

:root {
    --regular-text: 'Poppins', sans-serif;
    --links: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overscroll-behavior: none;
}

body {
    display: grid;
    grid: 70px auto 50px / auto;
    min-height: 100vh;
    font-family: var(--regular-text);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80px;
    gap: 5px;
    position: relative;
}

.header__logo_container {
    place-content: center;
    width: 60%;
    border: 2px solid #000;
}

.header__logo {
    display: block;
    width: 100px;
    height: auto;
    margin-inline: auto;
}

.header__menu {
    /* box-shadow: 0 5px 5px -5px #fff; This will be applied with JS when menu opens */
    width: 100%;
    font-family: var(--links);
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.header__menu::after {
    margin-left: 5px;
    content: '≡';
    font-size: 15px;
    margin-top: auto;
    display: block;
    font-weight: normal;
}

.menu__container {
    list-style: none;
    width: 100%;
}

.menu__container li {
    padding: 5px 0;
    box-shadow: inset 0 0 5px 1px #ff9100;
}

.menu__container:has(a:active) {
    background-color: #ff9100;
}

.header__menu:active {
    color: #fff;
    background-color: transparent;
    transform: scale(0.95);
}

.header__nav {
    display: none;
    height: calc(100vh - 80px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 4px);
    width: 100%;
    background-image: radial-gradient(circle, #fff 0%, #ededed 30%, #353535 50%, #d7d7d7 70%, #b9b9b9 80%, #cccccc 90%, #fff 95%);
    margin-top: 2px;
    z-index: 1;
}

.open-popup {
    display: flex;
}

.header__nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.list {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #ff9100;
    border-bottom: 1px solid #ff9100;
}

.list a {
    font-family: var(--links);
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.list:has(a:active) {
    background-color: #ff9100;
}

.list a:active {
    background-color: transparent;
    color: #fff;
    transform: scale(0.95);
}

.main {
    width: calc(100% - 10px);
    /* display: grid;
    justify-items: center; Add this ones when the display is bigger*/
    margin: 0 auto 0;
    position: relative;
}

.main h2 {
    margin: -10px auto 0;
    text-align: center;
    font-weight: 100;
    color: #ff9100;
}

.main__button {
    position: sticky;
    top: 90%;
    left: 95%;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px #ff9100;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.main__button a {
    color: #000;
    text-decoration: none;
}

.main__button:active {
    background-color: #ff9100;
    color: #fff;
}

.main__intro {
    box-shadow: 0 0 5px #000;
    text-align: center;
    color: #000;
    border-radius: 2px;
    grid-column: 1 / 3;
    padding: 5px;
    background-image: radial-gradient(circle, #ffffff 10%, #fff8ef 30%, #fff1df 50%, #ffedd5 70%, #fee0b9 90%, #ff9100 100%);
}

.main__intro img {
    display: block;
    margin: 0 auto 10px;

}

.main__pricelist {
    display: grid;
    grid-template-columns: calc(50% - 2.5px);
    gap: 5px;
    border: 1px solid #ff9100;
    width: 100%;
    justify-self: start;
    margin-inline: auto;
    margin-top: 20px;
    max-width: 300px;
    border-radius: 3px;
}

.add-ons {
    display: grid;
    grid-template-columns: calc(50% - 2.5px);
    gap: 5px;
    border: 1px solid #ff9100;
    width: 100%;
    justify-self: end;
    margin-inline: auto;
    margin-top: 20px;
    max-width: 300px;
    border-radius: 3px;
}

.main__pricelist_p,
.main__addon_p {
    text-align: center;
    grid-column: 1 / 3;
    border-top: 1px solid #ff9100;
    font-weight: bold;
    font-size: 14px;
}

.main__pricelist h3,
.add-ons h3 {
    grid-column: 1 / 3;
    text-align: center;
    color: #228b22;
}

.div1 ul,
.div2 ul {
    list-style: none;
}

.div1 li {
    text-align: right;
}

.div2 li {
    text-align: left;
}

.hightlight {
    color: #228b22;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    place-content: center;
    font-size: clamp(12px, 2vw, 18px);
    margin-top: 20px;
}