@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,700&family=Poppins&display=swap');

:root {
    --regular-text: 'Poppins', sans-serif;
    --links: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid: 70px auto 30px / auto;
    min-height: 100vh;
    font-family: var(--regular-text);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80px;
    gap: 5px;
    position: relative;
}

.header__logo_container {
    place-content: center;
    width: 60%;
    border: 2px solid #000;
}

.header__logo {
    display: block;
    width: 100px;
    height: auto;
    margin-inline: auto;
}

.header__menu {
    /* box-shadow: 0 5px 5px -5px #fff; This will be applied with JS when menu opens */
    width: 100%;
    font-family: var(--links);
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.header__menu::after {
    margin-left: 5px;
    content: '≡';
    font-size: 15px;
    margin-top: auto;
    display: block;
    font-weight: normal;
}

.menu__container {
    list-style: none;
    width: 100%;
}

.menu__container li {
    padding: 5px 0;
    box-shadow: inset 0 0 5px 1px #000;
}

.menu__container:has(a:active) {
    background-color: #FFF8E7;
}

.header__menu:active {
    background-color: #FFF8E7;
    transform: scale(0.95);
}

.header__nav {
    display: none;
    height: calc(100vh - 80px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 4px);
    width: 100%;
    background-image: radial-gradient(circle, #fff 70%, #000 100%);
    margin-top: 2px;
}

.open-popup {
    display: flex;
}

.header__nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.list {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.list a {
    font-family: var(--links);
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.list:has(a:active) {
    background-color: #FFF8E7;
}

.list a:active {
    background-color: #FFF8E7;
    transform: scale(0.95);
}

.main {
    width: calc(100% - 4px);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    margin: 20px auto 0;
    align-items: start;
}

.main__card {
    box-shadow: 0 0 5px #ff0000;
    text-align: center;
    color: #000;
    border-radius: 2px;
    max-width: 150px;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    place-content: center;
    font-size: clamp(12px, 2vw, 18px);
}