@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;1,700&family=Poppins&display=swap');

:root {
    --regular-text: 'Poppins', sans-serif;
    --links: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid: 70px auto 100px / auto;
    min-height: 100dvh;
    font-family: var(--regular-text);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80px;
    gap: 5px;
    position: relative;
}

.header__logo_container {
    place-content: center;
    width: 60%;
    border: 2px solid #000;
}

.header__logo {
    display: block;
    width: 100px;
    height: auto;
    margin-inline: auto;
}

.header__menu {
    /* box-shadow: 0 5px 5px -5px #fff; This will be applied with JS when menu opens */
    width: 100%;
    font-family: var(--links);
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}

.header__menu::after {
    margin-left: 5px;
    content: '≡';
    font-size: 15px;
    margin-top: auto;
    display: block;
    font-weight: normal;
}

.menu__container {
    list-style: none;
    width: 100%;
}

.menu__container li {
    padding: 5px 0;
    box-shadow: inset 0 0 5px 1px #ff9100;
}

.menu__container:has(a:active) {
    background-color: #ff9100;
}

.header__menu:active {
    color: #fff;
    background-color: transparent;
    transform: scale(0.95);
}

.header__nav {
    display: none;
    background-image: radial-gradient(circle, #fff 0%, #ededed 30%, #e7e7e7 40%, #ff9100 50%, #e7e7e7 60%, #d7d7d7 70%, #b9b9b9 80%, #cccccc 90%, #fff 95%);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.no-scroll {
    /* This prevents the scroll of the main window when modal is opened */
    touch-action: none;
    overflow: hidden;
    /* height: 100%; */
}

.modal__close {
    border: none;
    color: #ff9100;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% - 40px);
    left: calc(100% - 40px);
    width: 30px;
    height: 30px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-tap-highlight-color: transparent;
}

.modal__close:active {
    background-image: url(../images/close-active.svg);
}

.open-popup {
    display: flex;
}

.header__nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}

.list {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid #ff9100;
    border-bottom: 1px solid #ff9100;
}

.list a {
    font-family: var(--links);
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.list:has(a:active) {
    background-color: #ff9100;
}

.list a:active {
    background-color: transparent;
    color: #fff;
    transform: scale(0.95);
}

.main {
    width: calc(100% - 10px);
    /* display: grid;
    justify-items: center; Add this ones when the display is bigger*/
    margin: 0 auto 0;
    position: relative;
}

.main h2 {
    margin: -20px auto 0;
    text-align: center;
    font-weight: 100;
    color: #995900;
}

.main__button {
    position: sticky;
    top: calc(100% - 60px);
    margin: 0 auto;
    background-color: #ffffff7b;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 5px #ff9100;
    -webkit-tap-highlight-color: transparent;
    max-width: 350px;
    min-width: 300px;
    text-shadow: 0 0 5px #ff9100;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    display: block;
    place-content: center;
    text-align: center;
    min-height: 48px;
}

.main__button:active {
    background-color: #ff9100;
    color: #fff;
}

.main__intro {
    box-shadow: 0 0 5px #000;
    text-align: center;
    color: #000;
    border-radius: 2px;
    grid-column: 1 / 3;
    max-width: 350px;
    min-width: 300px;
    margin-inline: auto;
    padding: 5px;
    background-image: radial-gradient(circle, #ffffff 10%, #fff8ef 30%, #fff1df 50%, #ffedd5 70%, #fee0b9 90%, #ff9100 100%);
}

.main__intro img {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    height: auto;

}

.main__pricelist {
    display: grid;
    grid-template-columns: calc(50% - 2.5px);
    gap: 5px;
    border: 1px solid #ff9100;
    width: 100%;
    justify-self: start;
    margin-inline: auto;
    margin-top: 20px;
    max-width: 350px;
    min-width: 300px;
    min-height: 750px;
    border-radius: 3px;
}

.add-ons {
    display: grid;
    grid-template-columns: calc(50% - 2.5px);
    gap: 5px;
    border: 1px solid #ff9100;
    width: 100%;
    justify-self: end;
    margin-inline: auto;
    margin-top: 20px;
    max-width: 350px;
    min-width: 300px;
    min-height: 600px;
    border-radius: 3px;
    margin-bottom: 55px;
}

.main__pricelist_p,
.main__addon_p {
    text-align: center;
    grid-column: 1 / 3;
    border-top: 1px solid #ff9100;
    font-weight: bold;
    font-size: 14px;
}

.main__pricelist h3,
.add-ons h3 {
    grid-column: 1 / 3;
    text-align: center;
    color: #288021;
}

.div1 ul,
.div2 ul {
    list-style: none;
}

.div1 li {
    text-align: right;
}

.div2 li {
    text-align: left;
}

.hightlight {
    color: #226600;
}

.footer {
    display: flex;
    background-color: #000;
    color: #fff;
    font-size: clamp(12px, 2vw, 18px);
    margin-top: 10px;
    padding: 5px;
}

.social,
.rights {
    place-content: center;
    width: 50%;
    display: flex;
    justify-items: center;
    display: block;
}

.social__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.social__list a {
    display: flex;
    align-items: center;
    min-width: 95px;
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.2s ease;
}

.social__list a:active {
    transform: scale(0.80);
}

.social__list a img {
    width: 30px;
    margin-right: 5px;
}

/* ======================================== STYLES FOR FAQ.HTML ======================================== */

.faq__main {
    margin-inline: auto;
    height: 100%;
}

.faq__main h1 {
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}

.faq__container {
    display: grid;
    align-content: center;
    height: calc(100% - 50px);
    border-radius: 5px;
    border: 1px solid #b9b9b9;
    width: 95%;
}

.faq__list {
    text-align: center;
    list-style: none;
}

.faq__list li {
    border-top: 1px solid #b9b9b9;
}

.faq__list li:last-child {
    border-bottom: 1px solid #b9b9b9;
}

.faq__list li:has(.faq__question:active) {
    background-color: #ff9100;
}

.faq__question {
    min-height: 30px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: #fff;
    transition: transform 0.9s ease;
    -webkit-tap-highlight-color: transparent;
}

.faq__question:active {
    transform: scale(0.90);
    color: #fff;
    background-color: #ff9100;
}