* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid: 70px auto 50px / auto;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70px;
    gap: 2px;
}

.header__logo_container {
    place-content: center;
    width: 60%;
    border: 2px solid #000;
}

.header__logo {
    display: block;
    width: 100px;
    height: auto;
    margin-inline: auto;
}

.header__menu {
    text-align: center;
    text-decoration: none;
    color: #000;
    width: 100%;
    box-shadow: inset 0 0 5px #000;
}